.chart {
    &-wrapper{
        padding: 2.8rem;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-basis: auto;
    }
    &__tab-pane {
        display: flex;
        background-color: #F5F5F5;
        border-radius: 30px;
    }
    &__tab-pane__button {
        color: #8C8C8C;
        background-color: #F5F5F5;
        padding: 10px 20px;
        border-radius: 30px;
        border: none;

    }
    &__tab-pane__button--active {
        color: white;
        background-color: #FA8C16;
    }
    // &__ranger-picker {
    //     // flex: 2;
    //     // align-self: flex-end;  
    //     float: right;
    // }
    &__card-section {
        background-color: white;
    }
    &__ranger-picker {

    }
    &__ranger-picker__text {
        margin-right: 10px;
    }
    &__data-section {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-gap: 30px;
        grid-template-areas: 
        "h1 h1 h2";
        margin-top: 30px;
        &--left {
            grid-area: h1;
            background-color: white;
            border-radius: 8px;
            height: 500px;
            padding: 20px;
        }
        &--left__text {
            font-weight: 600;
            font-size: 18px;
        }
        &--right{
            grid-area: h2;
            background-color: white;
            border-radius: 8px;
            height: 500px;
            padding: 20px;
        }
        &--right__text {
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.ant {
    &-tabs-nav-list {
        background-color: #F5F5F5;
       
        border-radius: 26px;
        // border: 1px solid red;
    }
    &-tabs-tab {
        padding: 12px 20px;
    }
    &-tabs-tab-active {
        background-color: #FA8C16;
        font-weight: 600;
        width: 100%;
        border-radius: 26px;
        display: flex;
        justify-content: center;
        & > .ant-tabs-tab-btn > span {
            color: white !important;
        }
    }
    &-tabs-tab-btn {
        & > span {
            color: #8C8C8C;
        }
    }
    &-tabs-tab-btn {
        
    }
}


.chart {
    &__card-item__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    &__card-item__text-group{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}