.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows:  500px;
    grid-gap: 30px;
    padding: 30px;
    grid-template-areas: 
    "h1 h2 h2 h2";

}

.section {
    border-radius: 16px;
    &--left {
        background-color: white;
        grid-area: h1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__avatar {
            border-radius: 50%;
            width: 160px;
            height: 160px;
            object-fit: cover;
        }
        &__text {
            font-size: 18px;
            margin-top: 8px;
        }
        &__name {
           font-weight: 600;
        }
        &__dob {
            font-weight: 300;
        }

        &__button {
            border-radius: 2px;
            margin-top: 100px;
        }
    }
    &--right {
        &__title {
            font-weight: 600;
            font-size: 20px;
        }
        background-color: white;
        grid-area: h2;
        padding: 20px;
        &__input{
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &__email {
            padding-top: 20px;
            & > span {
                font-weight: 600;
                color: #BFBFBF;
            }
        }
        &__password {
            &>span {
                font-weight: 600;
                color: #BFBFBF;
            }
        }
        &__re-password {
            margin-top: 10px;
        }
        &__button-group {
            padding-top: 80px;
            float: right;
        }
    }
}