.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    border-right: 1px solid #e5e7eb;
    background-color: white;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        margin-top: 10px;
        // border-bottom: 1px solid #e5e7eb;
        gap: 6px;
        &-image {
            width: 48px;
        }
        &-title {
            font-family: 'JetBrains Mono' !important;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 48px;
            color: #FA8C16;
        }
    }
    &__body {
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;
    }
    &__list-group{
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        display: flex;
        &-title{
            margin-left: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-size: 16px;
            font-weight: 500;
        }
        &-icon {
            justify-content: center;
            align-items: center;
            display: inline-flex;
            margin-left: 1rem;
            & > img {
                width: 1rem;
                height: 1rem;
            }
        }
        &-item{
            display: flex;
            position: relative;
            padding-right: 1.5rem;
            border-color: transparent;
            border-left-width: 4px;
            align-items: center;
            flex-direction: row;
            height: 50px;
            color: rgb(75 85 99);
            margin-top: 8px;
            box-sizing: border-box;
            &:hover {
                background-color: rgb(249 250 251);
                color: rgb(31 41 55);
                border-left: 6px solid #FA8C16;
            }
            &:focus {
               outline: none; 
            }
        }
    }
}